<a href="https://colab.research.google.com/github/ishitavasishth/RealtimeDataSQL/blob/main/SQLData1_IshitaVasishth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook is your template for the first graded homework assignment.

You'll connect to our database, write some queries, and record the results. You work will be automatically graded (via Python and SQL), and you'll be able to check your progress as you go.

## Connection

In [ ]:
cls = input("class:")

class:mkt182

In [ ]:
hostname = f"{cls}.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com"

In [ ]:
user = input("user name:")

user name:iv3848

In [ ]:
import getpass

In [ ]:
password = getpass.getpass()

··········

In [ ]:
!pip install ipython-sql --upgrade

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.1.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)

In [ ]:
!pip install PyMySQL -q

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [ ]:
%sql mysql+pymysql://{user}:{password}@{hostname}/shared

# Homework tooling

## Homework table

In [ ]:
%sql USE {user}db

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
0 rows affected.

[]

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS homework (
  assignment INTEGER,
  problem INTEGER,
  answer TEXT,
  PRIMARY KEY homework_pk (assignment,problem)
)

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
0 rows affected.

[]

## Homework tools

A utility function to execute a query and get the result as JSON.

In [ ]:
def eval_query(cell_index=-2):
  return eval(In[cell_index]).DataFrame().to_json()

Retrieve the correct answer to problem for an assignment.

In [ ]:
def get_answer(assignment,problem):
  rs = %sql SELECT answer FROM shared.homework WHERE assignment = :assignment AND problem = :problem
  return rs[0][0]

Store your answer to a problem.

In [ ]:
def store_answer(assignment,problem,cell_index=-2,check=True):
  guess = eval_query(cell_index)
  print('guess: ' + guess)
  if check:
    answer = get_answer(assignment,problem)
    print('answer: ' + answer)
    if guess != answer:
      print("wrong answer")
      return
  %sql INSERT INTO {user}db.homework VALUES (:assignment,:problem,:guess) ON DUPLICATE KEY UPDATE answer = :guess

Grade an assignment (all problems).

In [ ]:
def grade(assignment):
  rs = %sql SELECT COUNT(*) AS n FROM shared.homework AS shared LEFT JOIN {user}db.homework AS mine ON shared.assignment = mine.assignment AND shared.problem = mine.problem WHERE shared.answer = mine.answer AND shared.assignment = :assignment
  correct = rs[0][0]
  print(f'correct count: {correct}')
  rs = %sql SELECT COUNT(*) AS n FROM shared.homework AS shared WHERE shared.assignment = :assignment
  total = rs[0][0]
  print(f'total count: {total}')
  return correct/total

# Assignment 1 (real, graded)

All of these problems work with our survey data, which is available in the table `shared.survey`.

In [ ]:
%sql USE shared

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
0 rows affected.

[]

In [ ]:
%%sql
SELECT * FROM survey LIMIT 3

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
3 rows affected.

[(0, '8/27/2024 17:20:04', 'North America', 'Yes', 'Communications', 'Mac', 'ipad', 'iPhone', 'Yes', 'What?', 'No', 'No', 'No', "Torchy's", 'Greta van fleet', 4, 1, 0, '27th', 'Some', 'No'),
 (1, '8/27/2024 17:20:32', 'Asia', 'No', 'Business', 'Windows', None, 'iPhone', 'Yes', 'Very yes', 'Yes', 'No', 'Yes', "Torchy's", 'Switchfoot', 9, 1, 1, None, 'Some', 'Yes'),
 (2, '8/27/2024 17:21:56', 'North America', 'No', 'Science', 'Mac', None, 'iPhone', 'Yes', 'Very yes', 'Yes', 'No', 'Yes', "Torchy's", 'The Wailers', 9, 1, 10, None, 'A lot', 'No')]

## Problem 1

Write and execute a SQL query that counts the number of records with zero `Siblings`. The result should have one column named `n`.

In [ ]:
%%sql
SELECT count(*) as n
from survey
where siblings = 0

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

[(5,)]

In [ ]:
store_answer(1,1)

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.
guess: {"n":{"0":5}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.
answer: {"n":{"0":5}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

## Problem 2

Write and execute a SQL query that returns the average number of `Siblings`.

The query result should have one column named `meanSiblings`.

In [ ]:
%%sql
SELECT avg(Siblings) as meanSiblings
from survey

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

[(Decimal('1.7077'),)]

In [ ]:
store_answer(1,2)

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.
guess: {"meanSiblings":{"0":1.7077}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.
answer: {"meanSiblings":{"0":1.7077}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

## Problem 3

Write a SQL query that counts responses by `Computer`. The result should have two columns: `Computer` and `n`, and the results should be ordered by `Computer` (ascending).

In [ ]:
%%sql
SELECT Computer, count(*) as n
from survey
group by Computer
order by Computer asc

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
3 rows affected.

[('Mac', 46), ('Other', 1), ('Windows', 18)]

In [ ]:
store_answer(1,3)

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
3 rows affected.
guess: {"Computer":{"0":"Mac","1":"Other","2":"Windows"},"n":{"0":46,"1":1,"2":18}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.
answer: {"Computer":{"0":"Mac","1":"Other","2":"Windows"},"n":{"0":46,"1":1,"2":18}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

## Problem 4

Write a SQL query that counts responses by `Computer` for all `North America` responses. The result should have two columns: `Computer` and `n`, and the results should be ordered by `Computer` (ascending).

In [ ]:
%%sql
SELECT Computer, count(*) as n
from survey
where Continent = 'North America'
group by Computer
order by Computer asc

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
3 rows affected.

[('Mac', 35), ('Other', 1), ('Windows', 13)]

In [ ]:
store_answer(1,4)

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
3 rows affected.
guess: {"Computer":{"0":"Mac","1":"Other","2":"Windows"},"n":{"0":35,"1":1,"2":13}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.
answer: {"Computer":{"0":"Mac","1":"Other","2":"Windows"},"n":{"0":35,"1":1,"2":13}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

## Problem 5

Write a SQL query that counts responses by `Continent` and returns only those continents with at least two responses.  The result should have two columns: `Continent` and `n`, and the results should be ordered by `n` in descending order and then by `Continent` (ascending) to break any ties.

In [ ]:
%sql SELECT * FROM survey LIMIT 1

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

[(0, '8/27/2024 17:20:04', 'North America', 'Yes', 'Communications', 'Mac', 'ipad', 'iPhone', 'Yes', 'What?', 'No', 'No', 'No', "Torchy's", 'Greta van fleet', 4, 1, 0, '27th', 'Some', 'No')]

In [ ]:
%%sql
SELECT Continent, count(*) as n
from survey
group by Continent
having count(*) >=2
order by n desc, Continent asc

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
2 rows affected.

[('North America', 49), ('Asia', 14)]

In [ ]:
store_answer(1,5)

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
2 rows affected.
guess: {"Continent":{"0":"North America","1":"Asia"},"n":{"0":49,"1":14}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.
answer: {"Continent":{"0":"North America","1":"Asia"},"n":{"0":49,"1":14}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

## Problem 6

Write a SQL query that returns the average and maximum number of `Siblings` by `Continent` along with the number of responses by `Continent`. Your result should have these columns in this order: `Continent`,`avgSiblings`, `maxSiblings`, and `n` (number of responses). The result should be ordered by `Continent` (ascending) and should have one row for each `Continent`.

In [ ]:
%%sql
SELECT Continent, avg(Siblings) as avgSiblings, max(Siblings) as maxSiblings, Count(*) as n
from survey
group by Continent
order by Continent asc

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
4 rows affected.

[('Asia', Decimal('1.1429'), 2, 14),
 ('Europe', Decimal('3.0000'), 3, 1),
 ('North America', Decimal('1.8367'), 6, 49),
 ('South America', Decimal('2.0000'), 2, 1)]

In [ ]:
store_answer(1,6)

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
4 rows affected.
guess: {"Continent":{"0":"Asia","1":"Europe","2":"North America","3":"South America"},"avgSiblings":{"0":1.1429,"1":3.0,"2":1.8367,"3":2.0},"maxSiblings":{"0":2,"1":3,"2":6,"3":2},"n":{"0":14,"1":1,"2":49,"3":1}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.
answer: {"Continent":{"0":"Asia","1":"Europe","2":"North America","3":"South America"},"avgSiblings":{"0":1.1429,"1":3.0,"2":1.8367,"3":2.0},"maxSiblings":{"0":2,"1":3,"2":6,"3":2},"n":{"0":14,"1":1,"2":49,"3":1}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

## Problem 7

Find the most popular `Band` response, but do not consider case or spaces. For example, `Talking Heads` and `talkingheads` should represent the same band.  The query result should contain two columns:

1. `canonicalBand`: lower case and contain no spaces
1. `n`: the count of responses for that `canonicalBand`

Speaking of case-sensitivity in strings, check out this fairly opaque MySQL [documentation about "string searches"](https://dev.mysql.com/doc/refman/8.0/en/case-sensitivity.html). The key phrase is

> nonbinary string comparisons are case-insensitive by default

You can do some quick experiments:

In [ ]:
%sql SELECT "Tacos" = "Tacos" AS eql

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

[(1,)]

In [ ]:
%sql SELECT "Tacos" = "tacos" AS eql

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

[(1,)]

In [ ]:
%sql SELECT BINARY "Tacos" = "tacos" AS eql

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

[(0,)]

Back to the actual problem:

Consider using the scalar string functions `LOWER` convert to lower case (regardless of case sensitivity) and `REPLACE` to eliminate spaces.  Those string functions are documented [here](https://dev.mysql.com/doc/refman/8.0/en/string-functions.html). Using these functions, you can canonicalize `Band` values in a reasonbly robust if simple way.

In [ ]:
%%sql
SELECT
    LOWER(REPLACE(Band, ' ', '')) AS canonicalBand,
    COUNT(*) AS n
FROM survey
GROUP BY canonicalBand
ORDER BY n DESC
LIMIT 1;

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

[('onedirection', 5)]

In [ ]:
store_answer(1,7)

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.
guess: {"canonicalBand":{"0":"onedirection"},"n":{"0":5}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.
answer: {"canonicalBand":{"0":"onedirection"},"n":{"0":5}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

## Problem 8

Use the [`CASE`](https://dev.mysql.com/doc/refman/5.7/en/flow-control-functions.html#operator_case) operator to characterize each `LikeMath` response according to this table:

| `LikeMath` | characterization |
| ---------- | ---------------- |
| less than 4     | "dislikes" |
| between 4 and 6 (inclusive) | "neutral" |
| greater than 6  | "likes" |
| `NULL`          | "unknown" |

We'll call that interpretation of `LikeMath` response `mathPreference`.  So the `mathPreference` for a `LikeMath` of 5 would be `"neutral"`.

Write a query that counts the number of responses by this `mathPreference`. Also compute the average `LikeMath` for each `mathPreference`. Your result should have three columns: `mathPreference`, `mean`, and `n` (the count), and the result should ordered by `mean` (ascending).

In [ ]:
%%sql
SELECT
case when LikeMath < 4 then "dislikes"
when LikeMath between 4 and 6 then "neutral"
when LikeMath > 6 then "likes"
when LikeMath is NULL then "unknown"
end as mathPreference, avg(LikeMath) as mean, count(*) as n
from survey
group by mathPreference
order by mean asc

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
3 rows affected.

[('dislikes', Decimal('2.2500'), 8),
 ('neutral', Decimal('4.9286'), 28),
 ('likes', Decimal('7.8966'), 29)]

In [ ]:
store_answer(1,8)

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
3 rows affected.
guess: {"mathPreference":{"0":"dislikes","1":"neutral","2":"likes"},"mean":{"0":2.25,"1":4.9286,"2":7.8966},"n":{"0":8,"1":28,"2":29}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.
answer: {"mathPreference":{"0":"dislikes","1":"neutral","2":"likes"},"mean":{"0":2.25,"1":4.9286,"2":7.8966},"n":{"0":8,"1":28,"2":29}}
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

## Grade

In [ ]:
grade(1)

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.
correct count: 8
 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.
total count: 8

1.0

# Addendum

![mandel](https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Mandel_zoom_00_mandelbrot_set.jpg/1920px-Mandel_zoom_00_mandelbrot_set.jpg)

Do you know about the [Mandelbrot set](http://en.wikipedia.org/wiki/Mandelbrot_set)?  A very nerdy math thing, but it's pretty cool.

A [person on Reddit](https://www.reddit.com/r/tinycode/comments/1071hg/a_mandelbrot_fractal_renderer_in_a_single_mysql/) wrote a SQL statement that can generate a graph of this set. Try evaluating the following cell.  Amazing what you can do in a single SQL SELECT statement.

In [ ]:
%%sql
SELECT if(ASCII(concat(
@w:=80,    /* width */
@h:=60,     /* height. max. resolution: w*h=78125 */
@max_iter:=20,  /* max. iterations - max.: 64 */
@xmin:=-2.025,  /* left */
@xmax:=0.625,   /* right */
@ymin:=-1.25,   /* top */
@ymax:=1.25     /* bottom */
))+(@cm:=(4/@max_iter))+(@xs:=(@xmax-@xmin)/@w)+(@ys:=(@ymax-@ymin)/@h)+(@cnt:=0)+(@y0:=@ymin)+(@run:=1)+ASCII(@r:=SPACE(0))+(SELECT count(if(@run,if(mod(@cnt,@w),0,(@y0:=@y0+@ys)+if(@cnt,ASCII(@r:=concat(@r,0x0d0a)),0))+(@x0:=@xmin+mod(@cnt,@w)*@xs)+(@i:=@x:=@y:=0)+(@runi:=1)+(SELECT count(if(@runi,+(@xt:=@x*@x-@y*@y+@x0)+(@y:=2*@x*@y+@y0)+(@x:=@xt)+(@i:=@i+1)+if(@i=@max_iter or (@x*@x+@y*@y)>4,@runi:=0,0),0)) from (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4) a CROSS JOIN (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4) b CROSS JOIN (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4) c)+(@c:=ceil(@i*@cm))+(@v:=(CASE when @c=4 then char(0xE29688 using utf8) when @c=3 then char(0xE29693 using utf8) when @c=2 then char(0xE29692 using utf8) else char(0xE29691 using utf8) END))+ASCII(@r:=concat(@r,@v))+(@cnt:=@cnt+1)+if(@cnt=@w*@h,(@run:=0),0),0)) FROM (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5 ) a CROSS JOIN (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5) b CROSS JOIN (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5) c CROSS JOIN (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5) d CROSS JOIN (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5) e CROSS JOIN (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5) f CROSS JOIN (SELECT 1 UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION SELECT 5) g),@r,0) AS mandelbrot

 * mysql+pymysql://iv3848:***@mkt182.cluster-c58qrw93zbgu.us-east-1.rds.amazonaws.com/shared
1 rows affected.

[('░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░\r\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ ... (4738 characters truncated) ... ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░\r\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░',)]